@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-caret-left {
	font-size:math.div(500,10)*1rem;
	width: math.div(187.5,500)*1em;
}
.icon-caret-right {
	font-size:math.div(500,10)*1rem;
	width: math.div(187.5,500)*1em;
}
