mixin mob-mnu()
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню

mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy&attributes(attributes)
		.container
			.row
				.col-auto.d-lg-none
					+b.toggle-menu-mobile--js
						span
				.col.d-none.d-lg-block
					+mnu()
	// end top-nav